# Android Generic GitIgnore
# Built artifacts
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab

# Android Studio / IntelliJ
*.ipr
*.iws
out/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml

# Log Files
*.log

# NDK
# (Already covered above)

# keystore
*.jks
*.keystore

# Google Services
google-services.json

# Lint
lint/

# AS Profile
*.hprof

# Backup files
*.bak
*~

# Kotlin
.kotlin/
